*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    text-transform: uppercase;
    color: red;
    font-size: 4em;
    font-family: fantasy;
    text-shadow: 15px 35px 5px black ;
}